.titulo{
    margin:2em;
    text-align: center;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    margin-top: -50px;
    width: 84px;
    margin-bottom: -30px;

}


p{
    font-size: 14px;
}
.contorno{
    border-bottom: 5px inset;
}
.contornoFlex{
    background-color: #4f4f4f;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .foter{
    font-size: 20px;

  }
  .separacionContainer{
    padding:5px;
  }

  .separacion{
    padding: 3px;
  }

  .cardHeigth{
    width: 50px;
    height: 50px;
    padding: 3px;
  }
  .foterMain{
    background-color: #A4A4A2!important;
  }
  @media screen and (max-width: 600px) {
      .desaparecer{
      display:none;
      visibility:hidden
      }
    }
  .aHeader{
    color: #FFF;
    text-decoration: none;
  }

  .carouselImagen{
    width: 70%;
    display: inline-flex;
    left: 14.5%;
  }
